[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
streamlit = "*"
openai-whisper = "*"
streamlit-option-menu = "*"

[dev-packages]

[packages.uvicorn]
extras = [ "standard",]
version = "*"
